@font-face {
    font-family: Brush;
    src: url("../assets/font/Good\ Brush.ttf");
}

tbody::-webkit-scrollbar {
    width: 3px;
}

tbody::-webkit-scrollbar-track {
    background: #9A6601;
}

tbody::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
}

button:focus {
    outline: none;
}

.container {
    width: 84%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

[data-anime] {
    opacity: 0;
    transition: .4s;
    z-index: -1;
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    z-index: 1;
}

[data-anime="top"] {
    transform: translate3d(0, -150px, 0);
}

[data-anime="left"] {
    transform: translate3d(-150px, 0, 0);
}

.quiz-menu {
    width: 96%;
    height: 100%;
    background-image: url("../assets/image/menu-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.game-over {
    width: 96%;
    height: 100%;
    background-image: url("../assets/image/game-over-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: none;
}

.game-over.bonus {
    background-image: url("../assets/image/game-over-background-bonus.jpg");
}

.game-over-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#gameOverBtn {
    width: 260px;
    padding: 8px;
    margin-top: 75px;
    cursor: pointer;
    border-radius: 6px;
    border: 5px solid #983400;
    font-family: Brush;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #9A6601;
    visibility: hidden;
}

#gameOverBtn.bonus,
#exitScoreBtn.bonus {
    border: 5px solid #1a1a1a;
    color: #1a1a1a;
    background-color: #6a6a6a;
}

.game-over-text {
    font-family: Brush;
    font-size: 5rem;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 2px 2px 3px #e02222;
    letter-spacing: 2px;
    word-spacing: 8px;
}

.game-over-text.bonus {
    color: #d4d4d4;
    text-shadow: 2px 2px 3px #1a1a1a;
}

.quiz-logo {
    height: 30%;
    margin-top: 1%;
    pointer-events: none;
}

.btn-list {
    height: 40%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-btn {
    width: 260px;
    padding: 8px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 6px;
    border: 5px solid #983400;
    font-family: Brush;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #9A6601;
    transition: .2s;
}

.menu-btn:hover,
.answer:hover,
#progressBtn:hover,
#feedbackBtn:hover,
#exitCreditsBtn:hover,
#cancelResetProgressBtn:hover,
#confirmResetProgressBtn:hover,
#resetProgressBtn:hover,
#gameOverBtn:hover,
#exitInstructionBtn:hover,
#exitFeedbackBtn:hover,
#rateBtn:hover,
#exitScoreBtn:hover,
#exitProgressBtn:hover {
    background-color: #ccc733;
}

.footer {
    height: 27%;
}

.star-1 {
    background-image: url("../assets/svg/star.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 4px;
    left: 12px;
    pointer-events: none;
    display: none;
}

.star-2 {
    background-image: url("../assets/svg/star.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 4px;
    left: 104px;
    display: none;
}

.star-2::before {
    content: attr(data-before);
    position: absolute;
    left: -26px;
    top: -50px;
    width: 140px;
    height: 40px;
    font-family: Brush;
    transition: .3s;
    opacity: var(--op, 0);
    visibility: var(--vis, hidden);
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-3 {
    background-image: url("../assets/svg/star.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 4px;
    left: 196px;
    display: none;
}

.video-background,
.reset-progress-background {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #0000006c;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

#video {
    height: 445px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    z-index: 5;
}

#feedbackBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 42px;
    background-color: #9A6601;
    border-radius: 7px;
    border: 3px solid #983400;
    cursor: pointer;
    position: absolute;
    bottom: 12px;
    right: 66px;
    transition: .2s;
}

#progressBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 42px;
    background-color: #9A6601;
    border-radius: 7px;
    border: 3px solid #983400;
    cursor: pointer;
    position: absolute;
    bottom: 12px;
    right: 12px;
    transition: .2s;
}

.quiz-instruction,
.quiz-feedback,
.quiz-credits {
    width: 96%;
    height: 100%;
    background-image: url("../assets/image/menu-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    position: relative;
}

.instruction-container {
    width: 648px;
    padding: 6px 8px 6px 8px;
    background-color: #9A6601;
    border-radius: 6px;
    border: 5px solid #983400;
}

.instruction-text {
    padding: 24px;
    font-family: Brush;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: justify;
}

.feedback-container {
    width: 660px;
    padding: 6px 8px 6px 8px;
    background-color: #9A6601;
    border-radius: 6px;
    border: 5px solid #983400;
}

.feedback-text {
    padding-top: 24px;
    font-family: Brush;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: center;
}

.feedback-result {
    display: none;
    padding: 24px;
    font-family: Brush;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: center;
}

.feedback-stars-container {
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.feedback-stars-container img {
    margin: 0 8px;
    height: 60px;
    cursor: pointer;
}

#rateBtn {
    width: 260px;
    padding: 8px;
    margin: 24px 0 0 12px;
    cursor: pointer;
    border-radius: 6px;
    border: 5px solid #983400;
    font-family: Brush;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #9A6601;
    transition: .2s;
}

@keyframes showCredits {
    0% {
        transform: translateY(-800px);
    }

    100% {
        transform: translateY(1000px);
    }
}

.credits-text-container {
    width: 200px;
    text-align: center;
    animation: showCredits 50s ease infinite;
}

.credits-text-container p {
    font-family: Brush;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 48px;
}

#exitCreditsBtn {
    width: 260px;
    padding: 8px;
    margin: 24px 0 0 12px;
    cursor: pointer;
    border-radius: 6px;
    border: 5px solid #983400;
    font-family: Brush;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #9A6601;
    transition: .2s;
    position: absolute;
    bottom: 12px;
    left: 12px;
}

.quiz-progress {
    width: 96%;
    height: 100%;
    background-image: url("../assets/image/progress-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-progress-div {
    display: flex;
    align-items: center;
}

.ranking-container {
    width: 518px;
    height: 550px;
    padding: 6px 8px 6px 8px;
    margin: 0 16px;
    background-color: #9A6601;
    border-radius: 6px;
    border: 5px solid #983400;
}

.progress-container {
    width: 518px;
    padding: 6px 8px 6px 8px;
    margin: 0 16px;
    background-color: #9A6601;
    border-radius: 6px;
    border: 5px solid #983400;
}

.ranking-title,
.progress-title,
.feedback-title,
.reset-progress-title,
.instruction-title {
    padding: 24px 24px 0 24px;
    font-family: Brush;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    word-spacing: 1px;
    text-align: center;
}

.progress-text-container {
    padding: 16px 24px 12px 24px;
}

.progress-text {
    padding: 12px;
    font-family: Brush;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: left;
}

#exitFeedbackBtn,
#exitProgressBtn,
#exitInstructionBtn,
#exitScoreBtn {
    width: 260px;
    padding: 8px;
    margin-top: 24px;
    cursor: pointer;
    border-radius: 6px;
    border: 5px solid #983400;
    font-family: Brush;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #9A6601;
    transition: .2s;
}

.quiz {
    width: 96%;
    height: 100%;
    background: linear-gradient(to top, #3fbadc 0%, #246fa8 100%);
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: none;
}

.jolly-roger {
    pointer-events: none;
    height: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0.1;
    display: none;
}

.jolly-roger.block {
    display: block;
}

.question {
    display: flex;
    height: 25%;
    margin: 36px 32px 32px 32px;
}

.question-number-icon {
    width: 100px;
    height: 80px;
    transition: .2s;
    position: relative;
}

.question-svg {
    width: 120px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: -8px;
    transform: translateX(-50%);
}

.question-svg path {
    transition: .2s;
}

#questionNumber {
    width: 60px;
    height: 60px;
    font-family: Brush;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 1px;
    background-color: transparent;
    color: #ffffff;
    padding: 9px;
    position: absolute;
    left: 52%;
    top: 10px;
    transform: translateX(-50%);
    border: none;
    cursor: pointer;
    pointer-events: none;
}

.question-text {
    width: 90%;
    font-family: Brush;
    font-size: 2rem;
    text-align: justify;
    color: #ffffff;
    margin: 20px 0 0 8px;
    word-spacing: 6px;
    letter-spacing: 2px;
}

.answers-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.answers-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 84px;
}

.answer {
    width: 360px;
    padding: 8px;
    margin: 0 84px 0 84px;
    cursor: pointer;
    border-radius: 6px;
    border: 5px solid #983400;
    font-family: Brush;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #9A6601;
    transition: .2s;
    z-index: 1;
}

.quiz-footer {
    height: 25%;
}

.quiz-footer-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: #ffffff;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

#name,
#text2,
#text20,
#textAll {
    all: unset;
    display: inline-block;
    transition: .2s;
    pointer-events: none;
}

#name:hover.active,
#text2:hover.active,
#text20:hover.active,
#textAll:hover.active {
    transform: scale(1.5);
    cursor: pointer;
}

.quiz.bonus {
    background: linear-gradient(to top, #6a6a6a 0%, #1a1a1a 100%);
}

.question-svg.bonus path {
    fill: #6a6a6a;
}

#questionNumber.bonus,
.question-text.bonus,
.quiz-footer-text.bonus {
    color: #d4d4d4;
}

.answer.bonus {
    border: 5px solid #1a1a1a;
    color: #1a1a1a;
    background-color: #6a6a6a;
}

.answer.bonus:hover,
#gameOverBtn.bonus:hover,
#exitScoreBtn.bonus:hover {
    background-color: #a8a8a8;
}

.quiz-score {
    width: 96%;
    height: 100%;
    background-image: url("../assets/image/score-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: none;
}

.quiz-score.bonus {
    background-image: url("../assets/image/score-background-bonus.jpg");
}

.quiz-score-container {
    width: 530px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-score-result {
    width: 530px;
    padding: 6px 8px 6px 8px;
    background-color: #9A6601;
    border-radius: 6px;
    border: 5px solid #983400;
    position: relative;
}

.quiz-score-result.bonus {
    background-color: #6a6a6a;
    border: 5px solid #1a1a1a;
}

.you-win-text {
    padding: 20px;
    font-family: Brush;
    font-weight: 700;
    font-size: 3rem;
    color: #000000;
    text-align: center;
    letter-spacing: 4px;
    word-spacing: 2px;
}

.you-win-text.bonus,
.rank.bonus,
.quiz-score-text.bonus,
.warning-score-text.bonus {
    color: #1a1a1a;
}

.rank-container {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
}

.rank-container div {
    width: 68%;
}

.rank {
    width: 40%;
    font-family: Brush;
    font-weight: 700;
    font-size: 5rem;
    color: #000000;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-score-text {
    margin: 12px;
    font-family: Brush;
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 1px;
}

.warning-score-text {
    font-family: Brush;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    display: none;
}

.the-end-text {
    font-family: Brush;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    position: absolute;
    bottom: 12px;
    left: 24px;
}

.the-end-text.bonus {
    color: #d4d4d4;
}

.mini-luffy-container {
    width: 68px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .2s;
    cursor: pointer;
}

.mini-luffy-container:hover {
    opacity: 1;
}

.mini-luffy {
    width: 68px;
    height: 80px;
    pointer-events: none;
}

.ranking-table {
    width: 100%;
    height: 360px;
    margin: 24px 0 20px 0;
    font-family: Brush;
    display: flex;
    flex-direction: column;
}

.ranking-table thead th {
    font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.ranking-table tbody {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}

.ranking-table thead tr,
.ranking-table tbody tr {
    display: flex;
    justify-content: space-between;
}

.ranking-table tbody td {
    padding: 4px 0;
}

.ranking-position {
    width: 100px;
}

.ranking-name {
    width: 180px;
    max-width: 180px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ranking-rank,
.ranking-time {
    width: 90px;
}

.player-rank {
    font-family: Brush;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border: 3px dashed #983400;
    padding: 4px 0;
}

#resetProgressBtn {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 6px 8px 6px 8px;
    background-color: #9A6601;
    border-radius: 7px;
    border: 3px solid #983400;
    cursor: pointer;
    position: absolute;
    bottom: 12px;
    left: 12px;
    transition: .2s;
}

.reset-progress-warning {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    z-index: 5;
    width: 518px;
    height: 270px;
    padding: 6px 8px 6px 8px;
    margin: 0 16px;
    background-color: #9A6601;
    border-radius: 6px;
    border: 5px solid #983400;
}

.reset-progress-warning-text {
    padding: 24px;
    font-family: Brush;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: justify;
}

.warning-btn-container {
    display: flex;
    justify-content: space-evenly;
}

#cancelResetProgressBtn,
#confirmResetProgressBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Brush;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 8px;
    width: 180px;
    background-color: #9A6601;
    border-radius: 7px;
    border: 3px solid #983400;
    cursor: pointer;
    transition: .2s;
}