@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #4B97D2;
    --secondary-color: #1b4053;
    --red-color: #D70000;
    --yellow-color: #FFCC00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-padding-top: 120px;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    height: 100%;
    background: linear-gradient(0deg, rgba(27, 64, 83, 0.86) 0%, rgba(27, 64, 83, 0.86) 100%), url("../assets/image/general-background.png");
    background-position: center;
    background-repeat: repeat;
    background-size: 30%;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 30px;
}

h1::selection,
span::selection,
p::selection {
    background-color: var(--primary-color);
}

main {
    overflow-x: hidden;
}

a {
    all: unset;
    cursor: pointer;
}

#home {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

#home .nav {
    width: 100%;
    position: fixed;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    transition: box-shadow .3s ease-in-out;
    z-index: 2;
}

#home .nav.active {
    backdrop-filter: blur(3px);
    box-shadow: 0 2px 8px 0 rgba(48, 48, 48, 0.34);
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#home .nav .nav-list {
    width: 50%;
    display: flex;
    justify-content: space-around;
    animation: slideDown 2s ease;
}

#home .nav a img {
    height: 78px;
    pointer-events: none;
    margin-top: 8px;
    animation: slideDown 1s ease;
}

#home .nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: -4px;

}

#home .nav ul li {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 32px;
    position: relative;
}

#home .nav ul li:nth-child(1)::before,
#home .nav ul li:nth-child(2)::before,
#home .nav ul li:nth-child(3)::before {
    content: "";
    width: 20px;
    height: 4px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -6px;
    transition: width .4s ease-in-out;
}

#home .nav ul li:nth-child(1):hover::before,
#home .nav ul li:nth-child(2):hover::before,
#home .nav ul li:nth-child(3):hover::before {
    width: 100%;
}

#home .nav .nav-list .sign-in-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 28px;
    color: #ffffff;
    border-radius: 12px;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

#home .nav .nav-list .sign-in-btn:hover {
    background-color: var(--primary-color);
}

#home .container {
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.74) 100%), url("../assets/image/one-piece-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

#home .container .column-1 {
    width: 46%;
}

#home .container .column-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 54%;
}

#home .container .column-2 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    opacity: 0;
    animation: slideDown 1.4s ease forwards .9s;
}

#home .container .column-2 div h1 {
    color: var(--primary-color);
    font-size: 2.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    user-select: none;
}

#home .container .column-2 div h1 span:nth-child(1) {
    color: var(--red-color);
}

#home .container .column-2 div h1 span:nth-child(2) {
    color: var(--yellow-color);
}

#home .container .column-2 div p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: left;
    width: 540px;
    margin: 32px 0;
}

#home .container .column-2 div a {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    padding: 18px 40px;
    color: #ffffff;
    background-color: var(--primary-color);
    border-radius: 12px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    transition: all .4s ease-in-out;
    user-select: none;
}

#home .container .column-2 div a:hover {
    padding: 18px 52px;
}

@keyframes arrowTransition {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-16px);
    }

    100% {
        transform: translateY(0);
    }
}

#home .container img {
    opacity: 0;
    height: 36px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    margin: 0 auto;
    animation: slideDown 1.4s ease forwards 2s, arrowTransition 2s ease-in-out infinite 2s;
    user-select: none;
}

#aboutOp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#aboutOp::before {
    content: "";
    background: linear-gradient(0deg, rgba(27, 64, 83, 0.01) 0%, rgba(27, 64, 83, 0.6) 100%);
    width: 100%;
    height: 16px;
    position: absolute;
    top: 0;
}

#aboutOp .column-1 {
    width: 40%;
    padding: 0 24px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

#aboutOp .column-2 {
    width: 40%;
    padding: 0 24px;
    margin-top: 120px;
    text-align: center;
}

#aboutOp .column-1 h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: 1px 1px 4px #1d1d1d;
    margin-bottom: 48px;
    position: relative;
    display: inline-block;
    user-select: none;
}

#aboutOp h1 span,
#timeline h1 span,
#mugiwaras h1 span,
#game h1 span,
#game .line-2 .column-2 h2 span {
    color: var(--primary-color);
}

#aboutOp .column-1 h1:before {
    content: "";
    width: 128px;
    height: 6px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--red-color);
    position: absolute;
    top: -10px;
    left: 4px;
}

#aboutOp .column-1 h1:after {
    content: "";
    width: 128px;
    height: 6px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--yellow-color);
    position: absolute;
    bottom: -8px;
    right: 4px;
}

#aboutOp .column-1 p {
    font-size: 1.2rem;
    max-width: 550px;
}

#aboutOp .column-2 img {
    height: 360px;
    border-radius: 28px;
    border: 5px dashed #ffffff;
    padding: 8px;
    user-select: none;
    pointer-events: none;
    transform: rotate(4deg);
}

#timeline {
    margin-top: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timeline h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2rem;
    text-shadow: 1px 1px 4px #1d1d1d;
    display: inline-block;
    position: relative;
    user-select: none;
    margin-bottom: 48px;
}

#timeline h1:before {
    content: "";
    width: 100px;
    height: 6px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--red-color);
    position: absolute;
    top: -10px;
    right: 4px;
}

#timeline h1:after {
    content: "";
    width: 100px;
    height: 6px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--yellow-color);
    position: absolute;
    bottom: -8px;
    left: 4px;
}

#timeline .container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#timeline .column-1 {
    width: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#timeline .column-1.line::before {
    content: "";
    width: 32px;
    height: 18px;
    background-image: url("../assets/image/timeline-arrow.png");
    background-repeat: no-repeat;
    background-size: 28px;
    position: absolute;
    right: -64px;
    transform: rotate(180deg);
}

#timeline .column-2 {
    width: 12px;
    height: 240px;
    background-color: #ffffff;
    margin: 80px 60px;
    transform: rotate(310deg) skew(310deg, 0);
}

#timeline .column-3 {
    width: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#timeline .column-3.line::before {
    content: "";
    width: 32px;
    height: 18px;
    background-image: url("../assets/image/timeline-arrow.png");
    background-repeat: no-repeat;
    background-size: 28px;
    position: absolute;
    left: -64px;
}

#timeline .img-container {
    height: 320px;
    width: 548px;
    border-radius: 60px;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timeline img {
    height: 300px;
    width: 528px;
    border-radius: 50px;
    user-select: none;
    pointer-events: none;
}

#timeline h2 {
    font-size: 1.6rem;
    margin-bottom: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#timeline h2::before {
    content: "";
    width: 52px;
    height: 6px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -12px;
}

#timeline p {
    font-size: 1.2rem;
    width: 524px;
}

#mugiwaras {
    padding-top: 80px;
}

#mugiwaras .line-1,
#game .line-1 {
    display: flex;
    justify-content: center;
}

#mugiwaras .line-1 .column-1,
#mugiwaras .line-1 .column-2,
#game .line-1 .column-1,
#game .line-1 .column-2 {
    width: 43%;
    display: flex;
    justify-content: center;
}

#mugiwaras h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2rem;
    text-shadow: 1px 1px 4px #1d1d1d;
    display: inline-block;
    position: relative;
    user-select: none;
    margin-bottom: 100px;
}

#mugiwaras h1:before {
    content: "";
    width: 110px;
    height: 6px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--red-color);
    position: absolute;
    top: -10px;
    left: 4px;
}

#mugiwaras h1:after {
    content: "";
    width: 110px;
    height: 6px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--yellow-color);
    position: absolute;
    bottom: -8px;
    right: 4px;
}

#mugiwaras .line {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

#mugiwaras .mugiwara-container {
    width: 330px;
    height: 380px;
    border-radius: 32px;
    background-color: #1b40537a;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 2px #1d1d1d6a;
    transition: all .4s ease-in-out;
}

#mugiwaras .mugiwara-container:hover {
    transform: scale(1.04);
}

#mugiwaras .mugiwara-container img {
    height: 274px;
    margin-top: -44px;
    user-select: none;
    pointer-events: none;
}

#mugiwaras .mugiwara-container h2 {
    font-size: 1.4rem;
    text-shadow: 1px 1px 2px #1d1d1d;
    letter-spacing: 1px;
    margin: 16px 0 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#mugiwaras .mugiwara-container h2:before {
    content: "";
    width: 44px;
    height: 6px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -12px;
}

#mugiwaras .mugiwara-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

#mugiwaras .mugiwara-container p {
    font-size: 1.1rem;
    text-shadow: 1px 1px 2px #1d1d1d;
}

#game {
    padding-top: 36px;
}

#game h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2rem;
    text-shadow: 1px 1px 4px #1d1d1d;
    display: inline-block;
    position: relative;
    user-select: none;
    margin-bottom: 48px;
}

#game h1:before {
    content: "";
    width: 90px;
    height: 6px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--red-color);
    position: absolute;
    top: -10px;
    right: 4px;
}

#game h1:after {
    content: "";
    width: 90px;
    height: 6px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--yellow-color);
    position: absolute;
    bottom: -8px;
    left: 4px;
}

#game .line-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game .line-2 .container {
    background-color: #1b40537a;
    width: 1100px;
    height: 450px;
    padding: 60px 12px;
    border-top-left-radius: 140px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 140px;
    box-shadow: 0 0 2px #1d1d1d6a;
    cursor: pointer;
    transition: all .4s ease-in-out;
    display: flex;
    user-select: none;
}

#game .line-2 .container:hover {
    transform: scale(1.02);
}

#game .line-2 .column-1,
#game .line-2 .column-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game .line-2 .column-1 img {
    height: 250px;
    pointer-events: none;
}

#game .line-2 .column-2 p {
    font-size: 1.2rem;
    width: 496px;
}

#game .line-2 .column-2 h2 {
    margin-top: 32px;
    margin-left: -36px;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #1d1d1d;
    width: 500px;
}