@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #4B97D2;
    --secondary-color: #1b4053;
    --red-color: #D70000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-padding-top: 120px;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background: linear-gradient(0deg, rgba(27, 64, 83, 0.86) 0%, rgba(27, 64, 83, 0.86) 100%), url("../assets/image/general-background.png");
    background-position: center;
    background-repeat: repeat;
    background-size: 30%;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 30px;
}

h1::selection,
span::selection,
p::selection {
    background-color: var(--primary-color);
}

a {
    all: unset;
    cursor: pointer;
}

#home {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

#home .nav {
    width: 100%;
    position: fixed;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    transition: box-shadow .3s ease-in-out;
    z-index: 2;
}

#home .nav.active {
    backdrop-filter: blur(3px);
    box-shadow: 0 2px 8px 0 rgba(48, 48, 48, 0.34);
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown2 {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(4px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#home .nav .nav-list {
    width: 50%;
    display: flex;
    justify-content: space-around;
    animation: slideDown 1.4s ease;
}

#home .nav a img {
    height: 78px;
    pointer-events: none;
    margin-top: 8px;
    animation: slideDown 1.4s ease;
}

#home .nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: -4px;

}

#home .nav ul li {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 32px;
    position: relative;
}

#home .nav ul li:nth-child(1)::before,
#home .nav ul li:nth-child(2)::before,
#home .nav ul li:nth-child(3)::before {
    content: "";
    width: 20px;
    height: 4px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -6px;
    transition: width .4s ease-in-out;
}

#home .nav ul li:nth-child(1):hover::before,
#home .nav ul li:nth-child(2):hover::before,
#home .nav ul li:nth-child(3):hover::before {
    width: 100%;
}

#home .nav .nav-list .sign-in-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 28px;
    color: #ffffff;
    border-radius: 12px;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

#home .nav .nav-list .sign-in-btn:hover {
    background-color: var(--primary-color);
}

#home .container {
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.74) 100%), url("../assets/image/one-piece-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

#home .container .column-1 {
    width: 46%;
}

#home .container .column-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 54%;
}

#home .container .column-2 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    opacity: 0;
    animation: slideDown2 1.8s ease forwards .9s;
}

#home .container .column-2 div h1 {
    color: var(--primary-color);
    font-size: 2.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    user-select: none;
}

#home .container .column-2 div h1 span:nth-child(1),
#home .container .column-2 div h1 span:nth-child(2),
#home .container .column-2 div h1 span:nth-child(3) {
    color: var(--red-color);
}

#home .container .column-2 div p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: left;
    width: 540px;
    margin: 32px 0;
}

#home .container .column-2 div a {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    padding: 16px 36px;
    color: #ffffff;
    background-color: var(--primary-color);
    border-radius: 12px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    transition: all .4s ease-in-out;
    user-select: none;
}

#home .container .column-2 div a:hover {
    padding: 16px 48px;
}

@keyframes arrowTransition {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-16px);
    }

    100% {
        transform: translateY(0);
    }
}

#home .container img {
    opacity: 0;
    height: 36px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    margin: 0 auto;
    animation: slideDown 1.4s ease forwards 3s, arrowTransition 3s ease-in-out infinite 3s;
    user-select: none;
}

#aboutOp {
    position: relative;
}

#aboutOp::before {
    content: "";
    background: linear-gradient(0deg, rgba(27, 64, 83, 0.01) 0%, rgba(27, 64, 83, 0.6) 100%);
    width: 100%;
    height: 16px;
    position: absolute;
    top: 0;
}